body{  
  background-color: #e0e0eb;
  width: 100vw;
padding: 0;
  margin: 0;
}

header{
  font-family: 'Playfair Display', serif;
  position: fixed;
  top: 0;
  background-color: rgba(239, 239, 245, .95);
  width: 100%;
  text-decoration: none;
  color: #002b80;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
#tagline{
  display: block;
  text-align: center;
  float: center;
  line-height: .7rem;
  margin: 3px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

@media only screen and (min-width:1700px){
  #tagline{
    float:left;
  }
}
#tagline h1{
  font-size: 1.2rem;
}
@media only screen and (min-width: 1700px){
  #tagline h1{
    font-size: 2rem;
  }
}
   
   
#tagline .since{
  font-size: 1rem;
  letter-spacing: 3px;
  

}
@media only screen and (max-width: 1700px){
.nav-link{
visibility:hidden;
 }
}
.navigation{
  display: block;
  color: #002b80;
}
a:hover{
  background-color: #cca300;
  transition-duration: 0.7s;
  color: white;
}

@media only screen and (min-width: 1700px){
  .nav-link{
      text-decoration: none;
  color: #002b80;
  font-family: 'Quicksand', sans-serif;
    display:inline-block;
    float: right;
    font-size: 1.3rem;
    margin: .6rem;
    padding: 5px;
  }
}
img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.intro{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #cca300;
}
@media only screen and (min-width: 1200px)
{
  .intro{
    margin: 2rem;
    padding: 2rem;
    font-size: 2.5rem;
    
    
  }
  /*.first{
    background-color: rgba(255, 255, 51, 0.2);
    width: 70%;
    margin:auto;
  }*/
}
.content{
  text-align: justify;
  line-height: 1.2rem;
  padding: 5px;
  margin: 16px;
  margin-left: 15px;
}
@media only screen and (min-width: 1200px){
  .content{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7rem;
    /*margin: 3rem 8rem 3rem 8rem;*/
    width: 50%;
    margin: auto;
    padding-bottom: 2rem;
  }
}
li{
  list-style-type: circle;
 text-align: left;
  margin: 5px;
  margin-left: 15px; 
}
@media only screen and (min-width:1200px){
  li{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    line-height: 2rem;
  }
}

br{
  margin: 1rem;
}
table{
 text-align: center;
}
td{
  padding: 0.5rem;
}
.left{
  text-align: right;
  
}
.right{
  text-align: left;
}
.foot{
  font-family: 'Quicksand', sans-serif;
  line-height: 0.5rem;
  height: 5.5rem;
  width: 90%;
  background-color: rgba(239, 239, 245, .7);
  width: 70%;
  margin: auto;
}
.foot p{
  text-align: center;
}
* {
  box-sizing: border-box;
}

.container{
  margin-left: 40px;
}
@media only screen and (min-width: 1700px) {
  .container{
    margin-left: 170px;
  }
}

.small-img{
  display: inline-block;
  width: 10%;
  padding: 10px;
  filter: grayscale(100%);
  transition: .3s;
}
.small-img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}
.image:first-child{
  margin-top: 80px;
  width: 100%;
}
.references-img img{
  width: 30rem;
  padding: 1rem;
}
@media only screen and (min-width: 1700px) {
  .references-img img{
    width: 50rem;
  }
}
.foot img{
  width: 3rem;
}
.nav-link img{
  width: 2rem; 
  height: 1.2rem;
  margin-top: .2rem;
}
@media only screen and (max-width: 1700px) {
  .nav-link img{
   position: relative;
   left: 44.5%;
   visibility: visible;
   display: inline-block;
   

  }
}
