body{  
  background-color: #e0e0eb;
  width: 100vw;
padding: 0;
  margin: 0;
}

header{
  font-family: 'Playfair Display', serif;
  position: fixed;
  top: 0;
  background-color: rgba(239, 239, 245, .95);
  width: 100%;
  text-decoration: none;
  color: #002b80;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
#tagline{
  display: block;
  text-align: center;
  float: center;
  line-height: .7rem;
  margin: 3px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

@media only screen and (min-width:1700px){
  #tagline{
    float:left;
  }
}
#tagline h1{
  font-size: 1.2rem;
}
@media only screen and (min-width: 1700px){
  #tagline h1{
    font-size: 2rem;
  }
}
   
   
#tagline .since{
  font-size: 1rem;
  letter-spacing: 3px;
  

}
@media only screen and (max-width: 1700px){
.nav-link{
visibility:hidden;
 }
}
.navigation{
  display: block;
  color: #002b80;
}
a:hover{
  background-color: #cca300;
  transition-duration: 0.7s;
  color: white;
}

@media only screen and (min-width: 1700px){
  .nav-link{
      text-decoration: none;
  color: #002b80;
  font-family: 'Quicksand', sans-serif;
    display:inline-block;
    float: right;
    font-size: 1.3rem;
    margin: .6rem;
    padding: 5px;
  }
}
img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.intro{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #cca300;
}
@media only screen and (min-width: 1200px)
{
  .intro{
    margin: 2rem;
    padding: 2rem;
    font-size: 2.5rem;
    
    
  }
  /*.first{
    background-color: rgba(255, 255, 51, 0.2);
    width: 70%;
    margin:auto;
  }*/
}
.content{
  text-align: justify;
  line-height: 1.2rem;
  padding: 5px;
  margin: 16px;
  margin-left: 15px;
}
@media only screen and (min-width: 1200px){
  .content{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7rem;
    /*margin: 3rem 8rem 3rem 8rem;*/
    width: 50%;
    margin: auto;
    padding-bottom: 2rem;
  }
}
li{
  list-style-type: circle;
 text-align: left;
  margin: 5px;
  margin-left: 15px; 
}
@media only screen and (min-width:1200px){
  li{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    line-height: 2rem;
  }
}

br{
  margin: 1rem;
}
table{
 text-align: center;
}
td{
  padding: 0.5rem;
}
.left{
  text-align: right;
  
}
.right{
  text-align: left;
}
.foot{
  font-family: 'Quicksand', sans-serif;
  line-height: 0.5rem;
  height: 5.5rem;
  width: 90%;
  background-color: rgba(239, 239, 245, .7);
  width: 70%;
  margin: auto;
}
.foot p{
  text-align: center;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}